.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.main {
  width: 100%;
  height: 100%;
  padding: 2rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.window {
  --aug-border-bg: var(--primary-color);
  --aug-border-top: 1px;
  --aug-border-right: 2px;
  --aug-border-bottom: 1px;
  --aug-border-left: 1px;

  padding: 16px;
  width: 100%;
  height: 100%;
  max-width: 900px;
}

.container {
  width: 100%;
  height: 100%;
}

.footer {
  width: 100%;
  height: 100px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title {
  /* font-family: var(--header-font-family); */
  text-transform: uppercase;
  color: var(--error-color);
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 0.25rem;
}

.first-row {
  align-items: center;
  margin-bottom: 2rem;
  margin: -8px -8px;
  margin-bottom: 2rem;
}

.first-row>* {
  margin: 8px 8px;
}

.project-container {
  justify-content: center;
}

@media only screen and (min-width: 1000px) {
  .project-container {
    justify-content: initial;
  }


  .bio {
    transform: rotate3d(-1, 1, 0, 15deg);
  }

  .network {
    transform: rotate3d(-1, -1, 0, 15deg);
  }
}

.network-separator {
  position: relative;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

.network-separator-a,
.network-separator-b {
  position: absolute;
  width: 100%;
}

.network-separator-a {
  --aug-border-bg: var(--warning-color);
  --aug-border-top: 1px;
  --aug-border-right: 1px;
  --aug-border-bottom: 0px;
  --aug-border-left: 0px;

  --aug-clip-tr1: initial;
  --aug-clip-tr2: initial;
  --aug-tr1-height: 100%;
}

.network-separator-b {
  width: 70%;
  --aug-border-bg: var(--error-color);
  --aug-border-top: 1px;
  --aug-border-right: -1px;
  --aug-border-bottom: 0px;
  --aug-border-left: 0px;
}

.network {
  visibility: hidden;
  opacity: 0;
  transform: scale(0);
  animation: reveal 0.5s 0s linear forwards;
}

@keyframes reveal {
  0% {
    visibility: hidden;
    opacity: 0;
  }

  0.01% {
    visibility: visible;
    opacity: 1;
  }

  20% {
    visibility: visible;
    opacity: 1;
    transform: scaleX(1.1) scaleY(0.001);
  }

  25% {
    visibility: visible;
    opacity: 1;
    transform: scaleY(0.01);
  }

  90% {
    visibility: visible;
    opacity: 1;
    transform: scaleY(1.1);
  }

  100% {
    visibility: visible;
    opacity: 1;
    transform: initial;
  }
}