.wrapper {
    --aug-border-bg: var(--warning-color);
    --aug-border-top: 1px;
    --aug-border-right: 1px;
    --aug-border-bottom: 1px;
    --aug-border-left: 1px;

    /* padding: 2.25rem 0.25rem; */
    padding: 0.25rem;
    height: min-content;
}

.container {
    --aug-border-bg: var(--error-color);
    --aug-border-top: 1px;
    --aug-border-right: 1px;
    --aug-border-bottom: 1px;
    --aug-border-left: 1px;

    padding: 0.1rem 1rem 1rem 1rem;
}

.header {
    justify-content: flex-end;
}